* {
  box-sizing: border-box;
}

.home-page-container {
  padding: 40px 20px 80px 20px;
  display: flex;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
}

.sidebar {
  min-width: 230px;
  max-width: 335px;
}

.best-books-gallery {
  flex-grow: 1;
  max-width: 996px;
}

.best-books-container {
  width: 100%;
}

.collection-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  color: #111;
  margin-bottom: 40px;
}

.collection-title span {
  color: #4f2ee8;
}

.book-category {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
  margin-bottom: 18px;
}

.book-cover {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-cover-cat {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.book-name {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-namne-cat {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: #111;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-author {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-books {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
  overflow-x: auto;
  width: 100%;
  padding-bottom: 5px;
}

.top-books::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}

.book-card-btn {
  padding: 14px 28px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  margin-left: auto;
  text-transform: uppercase;
  background-color: transparent;
  display: block;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.book-card-btn:focus,
.book-card-btn:hover {
  background-color: #4f2ee8;
  color: #ffffff;
}

.book-category-item:not(:last-child) {
  margin-bottom: 40px;
}

.book-card {
  width: 180px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 0.6);
  position: relative;
  z-index: 1;
}

.book-card-category {
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 0.6);
}

.book-card:hover,
.book-card:focus {
  transform: scale(1.03);
  z-index: 5;
}

.book-card-category:hover,
.book-card-category:focus {
  transform: scale(1.03);
}

.book-card-hover,
.book-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 14px;
  height: 256px;
}

.view-more {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: #eac645;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 0.6),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 0.6);
  opacity: 0;
}

.book-card:hover .view-more,
.book-card-category:hover .view-more {
  opacity: 1;
  transform: translateY(0);
}

.view-more-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}

.book-descr {
  padding: 0 4px;
}

.category-books-cat {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  margin-top: 40px;
}

.top-books-all {
  overflow: visible;
}

/* Media queries */
@media screen and (max-width: 767px) {
  .home-page-container {
    flex-direction: column;
    padding: 40px 20px;
  }
  
  .sidebar {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  
  .book-card:nth-child(n + 2) {
    display: none;
  }
  
  .book-card-category {
    width: 100%;
  }
  
  .book-thumb {
    height: auto;
    max-height: 256px;
  }
}

@media screen and (min-width: 768px) {
  .home-page-container {
    padding: 40px 32px;
  }
  
  .top-books {
    gap: 25px;
    justify-content: flex-start;
  }
  
  .book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .book-card {
    width: 218px;
  }
  
  .book-card-hover {
    height: 316px;
  }
  
  .book-category-item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .book-card:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .home-page-container {
    gap: 40px;
    padding: 40px 24px;
    max-width: 1440px;
  }
  
  .best-books-gallery {
    max-width: 996px;
  }
  
  .top-books {
    gap: 24px;
  }
  
  .book-card {
    width: 180px;
  }
  
  .book-card-hover {
    height: 256px;
  }
  
  .book-card:nth-child(n + 6) {
    display: none;
  }
}

/* Dark theme */
.dark-theme .collection-title {
  color: #ffffff;
}

.dark-theme .book-name,
.dark-theme .book-namne-cat {
  color: #ffffff;
}

.dark-theme .book-card-btn {
  color: #ffffff;
}
